# The following configurations are conventions
script_folder=$(dirname "$0")
op_session_file=~/.op-session
op_origin=$script_folder/op-origin/op
vpn_app='/Applications/Cisco/Cisco AnyConnect Secure Mobility Client.app'
vpn_location=/opt/cisco/anyconnect/bin/vpn

# The following configurations need to be changed
openshift_credential_id='some id on 1Password'
default_vpn='somesuffix'

